{% extends 'transactions/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row all_users">
        <div>
            {% for account in object_list %}
            <div class="col-md-4 one_user">
                <h3 style="text-transform: uppercase;">UserName: {{account.account_name}}</h3>
                <h5>Account Number: {{account.acc_number}}</h5>
                <a class="btn btn-info" href="{% url 'one_account' account.pk %}"><button>Make Transaction</button></a>
            </div>

            {% endfor %}
        </div>

    </div>

</div>


{% endblock%}